@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IBM 3270";
  src: url("/fonts/3270/3270-Regular.otf");
}
@font-face {
  font-family: "NerdFont 3270";
  src: url("/fonts/3270/3270-Regular.otf");
}

.mono {
  font-family: 'IBM 3270', monospace; 
}

.nerd {
  font-family: 'NerdFont 3270', monospace;
}